.loader {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
  height: 200px;
  padding: 40px;
}
